<div class="">

</div>
password: goit2021js
username: sokilTeam
email: mfkasyanchuk@meta.ua
key=e0864e234ad59915a65f6e683712555d
film for id: https://api.themoviedb.org/3/movie/550?api_key=e0864e234ad59915a65f6e683712555d&language=ru-Ru
film for query: https://api.themoviedb.org/3/search/movie?api_key=e0864e234ad59915a65f6e683712555d&language=ru-Ru&query=potter&page=1
popular: https://api.themoviedb.org/3/movie/popular?api_key=e0864e234ad59915a65f6e683712555d&language=ru-Ru&page=1
