html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}
.list {
  list-style: none;
  padding-left: 0px;
  margin: 0px auto;
}
.container-card{
  width: 280px;
  height: 958px;
  padding: 48px 20px 41px;
}
.poster__path {
  display: block;
  width: 240px;
  height: 356.57px;
  border-radius: 5px;
  margin: 0 0 30px;
}
.title__card__film {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1,15;
margin: 0 0 20px;
color: #000000;
}

.block__movie__information{
  padding: 0;
}
.movie__information{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1,33;
  color: #8C8C8C;
}